html {
    font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","Hiragino Sans GB","华文细黑","arial","sans-serif";
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    min-width: 1000px;
    font-size: 14px;
    color: #fff;
}
.wrap {
    width: 100%;
    background-position: center 0;
    background-repeat: no-repeat;
}
.wrap-main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.pos {
    position: absolute;
    left: 0;
    top: 0;
}
.f-l {
    float: left;
}
.f-r {
    float: right;
}
img {
    display: block;
    max-width: 100%;
}
.show-lists .voice .button-play,
.show-lists .voice button,
.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
}
input,
button {
    border: none;
    background-color: transparent;
}
.active-color {
    color: #FFD906!important;
}
.dub-lists-content li:after,
.clear:after {
    display: block;
    content: "";
    clear: both;
    zoom:1;
}
* html .clear{
    zoom:1;
}
.header {
    height: 674px;
    background-image: url("../img/banner.jpg");
}
.works-show {
    height: 536px;
    background-image: url("../img/bg1.jpg");
}
.works-way {
    height: 523px;
    background-image: url("../img/bg2.jpg");
}
.dub-lists{
    height: 813px;
    background-image: url("../img/bg3.jpg");
}
.prize {
    height: 840px;
    background-image: url("../img/bg4.jpg");
}
.active-rule {
    height: 376px;
    background-image: url("../img/bg5.jpg");
}
.dub-lists-content li:hover p {
    background-color: #FF821C;
    color: #fff;
    border-color: #FF821C;
}
.dub-lists-content .right-lists li:hover p:before,
.dub-lists-content li:hover p:before {
    border-right-color: #FF821C;
}
.dub-lists-content .right-lists li:hover p:after,
.dub-lists-content li:hover p:after {
    border-right-color: #FF821C;
}

/*header*/
.header-top-bg {
    width: 100%;
    height: 70px;
    background-color: #325cab;
    background-color: rgba(50, 120, 190, .8);
}
.header-top a {
    float: left;
    display: block;
    font-size: 24px;
    color: #dbf2ff;
}
.header-top .first {
    padding-right: 54px;
    border-right: 1px dashed #dbf2ff;
}
.header-top  .last {
    padding-left: 54px;
}
.header-top .link {
    top: 23px;
    left: auto;
    right: 34px;
}

.logo,
.logo2{
    position: absolute;
    top: 13px;
}
.logo {
    left: 124px;
}
.logo2 {
    left: 2px;
}
.header-content {
    position: relative;
    height: 74px;
}
.active-time {
    position: absolute;
    left: 364px;
    top: 415px;
    line-height: 1.5;
    font-size: 18px;
    color: #532700;
}
.dub-lists-content li strong,
.active-time strong {
    font-weight: bold;
}
.active-rule-content,
.prize-content,
.dub-lists-content,
.works-way-content,
.works-show-content {
    height: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.works-show-content {
    background-position: 0 40px;
    background-image: url("../img/works-show-bg.png");
}
.works-way-content {
    background-image: url("../img/works-way-bg.png");
}
.dub-lists-content {
    background-image: url("../img/dub-lists-bg.png");
}
.prize-content {
    background-image: url("../img/prize-bg.png");
}
.active-rule-content {
    background-position: center 0;
    background-image: url("../img/active-rule-bg.png");
}
.show-lists {
    top: 95px;
    left: 0;
    width: 100%;
    height: 332px;
}
.show-lists ul {
    margin-right: -19px;
    height: 335px;
}
.show-lists li {
    float: left;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 19px;
    height: 335px;
}
.show-lists li .work-img-wrap {
    position: relative;
    width: 123px;
    height: 152px;
    text-align: center;
    overflow: hidden;
}
.show-lists li .work-img-wrap img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
}
.show-lists li .voice {
    padding-top: 11px;
    padding-bottom: 18px;
    display: block;
    width: 124px;
    height: 40px;
    cursor: pointer;
}
.show-lists .voice button {
    cursor: pointer;
    display: block;
    margin: 11px auto 0 58px;
    width: 15px;
    height: 18px;
    background-position: -1px -1px;
}
.show-lists .voice .button-play {
    background-position: -17px -1px;
}
.show-lists .voice audio {
    display: none;
    width: 100%;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.show-lists .work-info {
    width: 116px;
    padding: 4px 4px;
    line-height: 20px;
    font-size: 12px;
    color: #d9fdff;
}
.show-lists .work-info .text {
    position: relative;
    height: 40px;
    overflow: hidden;
}
.show-lists .text em {
    display: inline-block;
    width: 60px;
    text-align: right;
}
.show-lists .text span {
    color: #fff;
}
.show-lists .text span:after {
    position: absolute;
    right: 0;
    top: 20px;
    display: inline-block;
    content: "...";
}
.show-lists .paging {
    padding: 33px 0;
    text-align: center;
    font-size: 14px;
}
.show-lists .paging a {
    padding-left: 2px;
    padding-right: 2px;
    color: #325CAB;
}
.show-lists .paging > a {
    margin-left: 18px;
    margin-right: 18px;
    padding: 8px 10px;
    border: 1px solid #325CAB;
}
.show-lists .paging > .active,
.show-lists .pagination .active {
    color: #FF821C;
}
.show-lists .paging > .active {
    border-color: #FF821C;
}
.show-lists .pagination .active {
    text-decoration: underline;
}

.works-way-content .wx {
    padding-left: 61px;
    padding-top: 415px;
    font-size: 18px;
    color: #FAE80D;
}
.way-info{
    padding-top: 107px;
    padding-left: 35px;
    padding-right: 58px;
    width: 285px;
    height: 380px;
    font-size: 14px;
    line-height: 22px;
    color: #325cab;
}
.way-info strong {
    font-weight: bold;
    font-size: 18px;
}
.way-info h3 {
    padding-bottom: 6px;
    color: #3389e7;
}
.way-info h4 strong {
    font-size: 14px;
}
.way-info .email {
    color: #f60000;
    text-decoration: underline;
}

.way-info .format {
    padding: 19px 0;
}
.dub-lists-content {
    font-size: 12px;
    line-height: 20px;
    color: #517cbb;
    height: 813px;
}
.dub-lists-content li {
    position: relative;
    padding-left: 58px;
    height: 42px;
    margin-bottom: 11px;
    *margin-bottom: 6px; /*IE7*/
}
.dub-lists-content .first {
    position: absolute;
    left: 58px;
    top: -8px;
    margin-top: 0;
}
.dub-lists-content li p {
    position: relative;
    float: left;
    margin-top: 4px;
    padding: 7px 10px;
    border: 1px solid #517cbb;
    border-radius: 8px;
}
.dub-lists-content li p:after, .dub-lists-content li p:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.dub-lists-content li p:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #E9EEF1;
    border-width: 6px;
    margin-top: -6px;
}
.dub-lists-content li p:before {
    border-color: rgba(81, 124, 187, 0);
    border-right-color: #517cbb;
    border-width: 7px;
    margin-top: -7px;
}
.dub-lists-content .right-lists li p:after {
    border-right-color: #F0F1F3;
}
.dub-lists-main {
    padding-top: 93px;
}
.right-lists,
.left-lists {
    width: 500px;
}
.right-lists li p:after {
    border-right-color: #F7F8F2;
}

.prize-content {
    padding-top: 65px;
}
.prize-content .explain {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    color: #325cab;
}
.prize-content .explain span {
    color: #ea6900;
}
.prize-title {
    padding-left: 88px;
    height: 75px;
    line-height: 75px;
    color: #325cab;
}
.prize-title2 .big,
.prize-title .column .big {
    font-weight: bold;
    font-size: 24px;
}
.prize-title .column .small {
    font-size: 14px;
    padding-left: 31px;
    padding-right: 68px;
}
.prize-text {
    padding-top: 287px;
    padding-left: 8px;
}
.prize-text > p {
    width: 268px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-align: center;
}
.prize-text > .first {
    width: 367px;
    text-align: left;
}
.prize-text > .first span {
    color: #a1e6ff;
}
.prize-text > .last {
    padding-left: 50px;
}
.prize-title2 {
    font-size: 14px;
    padding-left: 262px;
    padding-top: 32px;
    height: 63px;
    line-height: 53px;
    color: #325cab;
}
.prize-title2 > .big {
    padding-right: 30px;
}
.prize-text2 {
    padding-left: 530px;
    padding-top: 73px;
}

.active-rule-content {
    padding-top: 92px;
}

.active-rule-content ul {
    width: 500px;
    color: #325cab;
    line-height: 30px;
}
.active-rule-content .last {
    width: 480px;
    padding-left: 20px;
}

.right-share {
    position: absolute;
    right: 39px;
    top: 70px;
    padding-left: 18px;
    padding-top: 5px;
    width: 240px;
    height: 30px;
    line-height: 35px;
    text-align: right;
}
.right-share > a {
    padding-left: 5px;
    padding-right: 5px;
    width: 24px;
    height: 24px;
}
.jiathis_style_24x24 > a {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.jiathis_button_tsina {
    margin-left: 67px;
}

.prize-text,
.dub-lists-main {
    overflow: hidden;
    height: auto;
}